#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-card {
  width: 100%;
  background-color: #E4F1FF;
  padding: 40px 0px;
}
.main-card p {
  font-size: 26px;
  width: 870px;
  color: #313033;
  margin: 20px ;
  font-weight: 400;
}
.headingName {
  font-size: 16px;
  padding: 10px;
}
.quote-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quote-container img {
  padding: 9px 10px;
  width: 36px;
}

